.afterSectionHero{
    justify-content: space-around;
    p{
        max-width: 650px;
    }
    @include responsive(s){
        // align-items: flex-start;
        // row-gap: 16px;
        flex-direction: row;
        justify-content: space-around;
        p{
            max-width: 220px;
            // border: 1px solid red;
        }
    }
}

.secondContent{
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    // border: 1px solid red;
    
    h4:nth-last-of-type(2){
        // padding-left: 40px;
        align-self: flex-end;
    }
    h4:nth-last-of-type(1){
        padding-right: 8px;
        align-self: flex-start;
        // border: 1px solid red;
    }
}