// Typography of project

@mixin typeface-1($size, $device: desktop) {
  font-family: 'Oxanium', cursive;

  @if $size == h1 and $device == desktop {
    font-size: 72px;
    font-weight: 300;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 40px;
    line-height: 100%;
  } @else if $size == h2 and $device == desktop {
    font-size: 32px;
    font-weight: 300;
    line-height: 120%;
  } @else if $size == h2 and $device == mobile {
    font-size: 20px;
    line-height: 100%;
  } @else if $size == h3 and $device == desktop {
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 120%;
  } @else if $size == h4 and $device == desktop {
    font-size: 32px;
    font-weight: 300;
    line-height: 130%;
  } @else if $size == h4 and $device == mobile {
    font-size: 16px;
    line-height: 130%;
  } @else if $size == h5 and $device == desktop {
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  } @else if $size == h5 and $device == mobile {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }
}

@mixin typeface-2($size: p2, $device: desktop) {
  font-family: 'Outfit', sans-serif;

  @if $size == p1 and $device == desktop {
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
  } @else if $size == p1 and $device == mobile {
    font-size: 16px;
    line-height: 130%;
  } @else if $size == p2 and $device == desktop {
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
  } @else if $size == p2 and $device == mobile {
    font-size: 12px;
    line-height: 150%;
  } @else if $size == p3 and $device == desktop {
    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
  } @else if $size == p3 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  } @else if $size == p4 and $device == mobile {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
}

h1 {
  color: $white-normal;
  @include typeface-1(h1, desktop);
  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $white-normal;
  @include typeface-1(h2, desktop);
  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: $white-normal;
  @include typeface-1(h3, desktop);
  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: $white-dark;
  @include typeface-1(h4, desktop);
  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

h5 {
  text-transform: capitalize;
  background: var(--gradient-text, linear-gradient(235deg, #6D0896 0%, #AB40D6 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: .5rem;

  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

.p1 {
  color: $white-dark;
  @include typeface-2(p1, desktop);
  @include responsive(s) {
    @include typeface-2(p1, mobile);
  }
}
.p2 {
  color: $white-dark;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}
.p3 {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: $white-dark;
}
.p4 {
  font-family: 'Outfit', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-left: 32px;
  // color: $white-dark;
}



.textButton-1{
  font-family: 'Oxanium', cursive;
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  color: $white-normal;
}

// .bold {
//   font-weight: bold;
//   color: $black-light;
// }

// strong {
//   color: $black-normal;
//   @include typeface-2(p2, desktop);
//   @include responsive(s) {
//     @include typeface-2(p2, mobile);
//   }
// }

.text-center {
  text-align: center;
}
