.Techs{
    // border: 1px solid red;
    opacity: 0;
    width: 35%;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    // bottom: 0;

    @include responsive(s){
        width: 70%;
    }
}

